.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section{
  min-height: 83vh;
  display: flex;
  padding: 41px;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.spacerDiv{
  display: flex;
  flex-direction: column;
  margin-bottom: -11px;
}


.section1{
  background-color: #001220;
}

.section2{
  background-color: #323C52;
  align-items: flex-start;
  color: white;
}

.section2 .mission-container{
  text-align: left;
  font-size: 30px;
  font-size: 10.5vw;
  font-weight: bold;
}
.section2 .mission-caption{
  font-size: 20px;
}

.section3{
  background-color: #F8805D;
}
.section4{
  background-color: #A852E1;
}
.section5{
  background-color: #FAADBC;
}
.section6{
  background-color: #FF4578;
}


.wavePos{
  height: 100%!important;
  margin-top: -14vh;
}
.imgBackground{
  background-image: url("./asset/logo1.png");
  background-repeat: no-repeat;
  height: 500px;
  width: 500px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #001220;
}

nav li {
  display: inline-block
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
  font-family: sans-serif;
}

nav li a:hover {
  color: #7AC2E2;
}

.service-list-container{
  display: flex;
  align-items: center;
}
.service-list-container .service-list-caption{
  flex: 1;
}
.service-list-container .service-list-img{
  flex: 1;
}
.service-list-container:last-child{
  margin-bottom: 50px;
}
.service-list-caption{
  font-size: 20px;
    font-weight: bold;
    color: white;
}